.Header {
  position: absolute;
  top: 4%;
  left: 4.5%;
  right: 4.5%;
  height: 9.69vw;
  max-height: 17.3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Profile-buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  .System-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
    white-space: nowrap;
    margin-top: 0 !important;
  }
}